body {
	background-image: url("");
}
#titr-h1 {
	font-size: 40px;
	color: red;
	text-align: center;
}
#btn_all ul {}
#btn_all ul li {
	float: left;
	padding: 2.5px;
	margin: 3px;
	overflow: hidden;
	border: solid 1px red;
	background-color: yellow;
}
#btn_all ul li button {
	background-color: black;
}
#btn_all ul li a{
	font-size: 20px;
	color: white;
	padding: 3px;
	text-decoration: none;
}