/*
  CREATING MOBILE DECORATION 
*/
@media only screen and (min-width: 360px) and (max-height: 720px){

	#btn_all ul {
		margin-left: -7%;
	}
	#btn_all ul li {
		text-align: center;
	}
	#btn_all .btn0, .btn1, .btn2, .btn3, .btn4 {
		padding: 10px;
	}
	#btn_all .btn0 a {
	    padding-right: 63px;
		margin-right: -28%;
	}
	#btn_all .btn1 a {
		padding-right: 45px;
		margin-right: -25%;
	}
	#btn_all .btn3 a {
		padding-right: 93px;
		margin-right: -47%;
	}
	#btn_all .btn4 a {
		padding-right: 88px;
		margin-right: -40%;
	}
	#btn_all ul li button:hover {
		background-color: white;
	}
	#btn_all ul li button a:hover {
		color: black;
	}
	.hack {
		text-align: center;
	}
	#p-img {
		margin-top: 55%;
	}
	#p-img:hover {}
	.mimg {
		margin-left: 10%;
	}
}/* @media fin */


/* #####################################################################  */
body {
	background-image: url("");
}
#titr-h1 {
	font-size: 70px;
	font-style: bold;
	text-shadow: 0.5px 0.7px 1px red;
	background-color: black;
	color: red;
	text-shadow: 1px 1.5px 2px yellow;
	text-align: center;
	animation  : color 10s infinite;
	height: 50%;
}
@keyframes color {
	10%  { color: blue; }
	30%  { color: red; }
	50%  { color: yellow; }
	70%  { color: green; }
	100% { color: cyan; }
}
#btn_all {
	margin: auto; margin-left: 14.5%;
}
#btn_all ul li {
	float: left;
	padding: 2.5px;
	margin: 3px;
	overflow: hidden;
	border: solid 1px red;
	background-color: yellow;
}
#btn_all ul li button {
	background-color: black;
}
#btn_all ul li a{
	font-size: 20px;
	color: white;
	padding: 3px;
	text-decoration: none;
}
